.App {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f2f5;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.App-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.App-search-input {
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
}

.App-clear-button {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  cursor: pointer;
}

.App-clear-button:hover {
  background-color: #e60000;
}

.App-counter {
  margin-bottom: 20px;
  font-size: 18px;
  color: #ccc;
}

.App-navigation {
  margin-bottom: 20px;
}

.App-nav-button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px;
}

.App-nav-button:hover {
  background-color: #21a1f1;
}

.App-articles {
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
}

.App-article {
  text-align: left;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  font-size: 18px;
}

.App-article.highlighted {
  border-color: #ffeb3b;
}

.App-article h2 {
  font-size: 24px;
  color: #333;
}

.App-article p {
  font-size: 18px;
  color: #333;
}

small {
  display: block;
  margin-top: 10px;
  color: #777;
}

.highlight {
  background-color: yellow;
  color: black;
}

.App-fixed-arrows {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.App-fixed-arrows .App-nav-button {
  margin: 0 10px;
}
